.Home-container {
  background-color: #152850;
  min-height: 100vh;
  padding: 20px;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 52px;
  font-weight: bold;
  line-height: 1.6;
}

.card-image {
  width: 45%;
  margin-top: 20px;
}
